.6_2 { 
	overflow:hidden;
}.e6_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1893px;
	position:absolute;
}.e23_13 { 
	width:1440px;
	height:135px;
	position:absolute;
	left:0px;
	top:1758px;
}.e17_2 { 
	background-color:rgba(249.6875050663948, 141.48958772420883, 141.48958772420883, 1);
	width:1440px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_12 { 
	width:222px;
	height:50px;
	position:absolute;
	left:1131px;
	top:43px;
}.e23_10 { 
	width:39px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_11 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:50px;
	position:absolute;
	left:46px;
	top:0px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e23_7 { 
	width:220px;
	height:46px;
	position:absolute;
	left:604px;
	top:43px;
}.e23_5 { 
	width:53px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_6 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:41px;
	position:absolute;
	left:65px;
	top:2px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e23_8 { 
	width:210px;
	height:46px;
	position:absolute;
	left:88px;
	top:45px;
}.e21_0 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:39px;
	position:absolute;
	left:55px;
	top:0px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e21_2 { 
	width:47px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e36_0 { 
	width:1440px;
	height:1509px;
	position:absolute;
	left:-17px;
	top:208px;
}.e36_1 { 
	color:rgba(0, 0, 0, 1);
	width:847px;
	height:44px;
	position:absolute;
	left:297px;
	top:1465px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e36_2 { 
	width:1440px;
	height:748px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/heart.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e36_3 { 
	width:1265px;
	height:507px;
	position:absolute;
	left:88px;
	top:840px;
}.e36_4 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	width:1265px;
	height:507px;
	position:absolute;
	left:0px;
	top:0px;
}.e36_5 { 
	color:rgba(0, 0, 0, 1);
	width:712px;
	height:295px;
	position:absolute;
	left:46px;
	top:0px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e36_6 { 
	color:rgba(0, 0, 0, 1);
	width:676px;
	height:142px;
	position:absolute;
	left:532px;
	top:324px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e36_7 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:926px;
	height:192px;
	position:absolute;
	left:444px;
	top:613px;
	font-family:Work Sans;
	text-align:right;
	font-size:72px;
	letter-spacing:0;
}.e36_8 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:588px;
	height:247px;
	position:absolute;
	left:89px;
	top:109px;
	font-family:Work Sans;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}.e36_9 { 
	width:607px;
	height:66px;
	position:absolute;
	left:89px;
	top:374px;
}.e36_10 { 
	box-shadow:1px 1px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:160px;
	height:61px;
	position:absolute;
	left:0px;
	top:5px;
}.36_10 { 
	border:3px solid rgba(194.00000363588333, 43.00000123679638, 42.000001296401024, 1);
}.e36_11 { 
	color:rgba(190.18750101327896, 28.623396679759026, 27.735669314861298, 1);
	width:158.0487823486328px;
	height:61px;
	position:absolute;
	left:1.95123291015625px;
	top:5px;
	font-family:Work Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e36_12 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:66px;
	position:absolute;
	left:182px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e11_14 { 
	width:1440px;
	height:224px;
	position:absolute;
	left:0px;
	top:-35px;
}.e11_42 { 
	background-color:rgba(255, 168.93750607967377, 168.93750607967377, 0.4000000059604645);
	opacity:0.5;
	width:1440px;
	height:150.85714721679688px;
	position:absolute;
	left:0px;
	top:26.285703659057617px;
}.e11_5 { 
	color:rgba(0, 0, 0, 1);
	width:147px;
	height:23.606557846069336px;
	position:absolute;
	left:1224px;
	top:92.5714340209961px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e11_10 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:23.606557846069336px;
	position:absolute;
	left:1034px;
	top:92.5714340209961px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e11_18 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:23.606557846069336px;
	position:absolute;
	left:736px;
	top:92.5714340209961px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e28_10 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:19.428571701049805px;
	position:absolute;
	left:910px;
	top:92.5714340209961px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e11_16 { 
	width:235px;
	height:224px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}