{% extends "app/base.html" %}
{% load static %}
{% block info %}
<div class="container-fluid">
    <h2>Cardiocare location</h2>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14019.169004385909!2d77.1781713!3d28.5459635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7e24c423d6eb97e!2sDamodar%20Hostel!5e0!3m2!1sen!2sin!4v1619415017224!5m2!1sen!2sin"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="container mx=8 my=8">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-danger">Heart</strong>
                    <h3 class="mb-0">
                        <a class="text-dark">World Heart
                            Day</a>
                    </h3>
                    <div class="mb-1 text-muted">Sept 29</div>
                    <p class="card-text mb-auto">Created by the World Heart Federation, World Heart Day informs
                        people around the globe that
                        CVD, including heart disease and stroke, is the world's leading cause of death claiming 17.9
                        million lives each year, and highlights the actions that individuals can take to prevent and
                        control CVD.</p>
                    <a href="https://www.world-heart-federation.org/world-heart-day/about-whd/">Continue reading</a>

                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                    alt="Thumbnail [200x300]" style="width: 200px; height: 350px;" src="{% static 'info/about/cardio.jpg' %}"
                    data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Info</strong>
                    <h3 class="mb-0">
                        <a class="text-dark">Blood Pressure</a>
                    </h3>
                    <div class="mb-1 text-muted">BP</div>
                    <p class="card-text mb-auto">Normal blood pressure range:-
                    </p>
                    <h5>systolic: less than 120 mm Hg
                        diastolic: less than 80 mm Hg</h5>
                    <p class="card-text mb-auto">High blood pressure range:-
                    </p>
                    <h5>systolic: 130 mm Hg or higher
                        diastolic: 80 mm Hg or higher</h5>
                    <a href="https://www.cdc.gov/bloodpressure/about.htm">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                    alt="Thumbnail [200x250]" src="{% static 'info/about/blood-pressure-calculator.jpg' %}" data-holder-rendered="true"
                    style="width: 200px; height: 350px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Info</strong>
                    <h3 class="mb-0">
                        <a class="text-dark">Chest Pain</a>
                    </h3>
                    <div class="mb-1 text-muted">CP</div>
                    <p class="card-text mb-auto">Chest pain is a common symptom of heart attack, not all people
                        experience
                        chest pain during a heart attack. According to the National Heart, Lung, and Blood
                        Institute, there’s evidence that about
                        one-third of people with heart attacks experience no chest pain. </p>
                    <a href="https://www.everydayhealth.com/heart-attack/guide/symptoms/">Continue reading</a>

                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                    alt="Thumbnail [200x300]" style="width: 200px; height: 350px;" src="{% static 'info/about/chest pain.jpg' %}"
                    data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Info</strong>
                    <h3 class="mb-0">
                        <a class="text-dark">Cholestrol</a>
                    </h3>
                    <div class="mb-1 text-muted">chol</div>
                    <p class="card-text mb-auto">Cholesterol, a fatlike substance, travels around in your
                        bloodstream in high-density lipoproteins (HDL) and low-density lipoproteins (LDL).Having
                        high blood cholesterol is one risk factor for heart disease.</p>
                    <a href="https://www.healthline.com/health/cholesterol-and-heart-disease#outlook">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                    alt="Thumbnail [200x250]" src="{% static 'info/about/cholestrol.jpg' %}" data-holder-rendered="true"
                    style="width: 200px; height: 350px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Info</strong>
                    <h3 class="mb-0">
                        <a class="text-dark">ElectroCardioGram</a>
                    </h3>
                    <div class="mb-1 text-muted">ECG/EKG</div>
                    <p class="card-text mb-auto">An electrocardiogram is a simple, painless test that measures your
                        heart’s electrical activity.An EKG will help your doctor determine the cause of your
                        symptoms along with what type of treatment might be necessary.</p>
                    <a href="https://www.healthline.com/health/electrocardiogram">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                    alt="Thumbnail [200x250]" src="{% static 'info/about/ECG.jpg' %}" data-holder-rendered="true"
                    style="width: 200px; height: 350px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Info</strong>
                    <h3 class="mb-0">
                        <a class="text-dark">Angina</a>
                    </h3>
                    <div class="mb-1 text-muted">ExIndAng</div>
                    <p class="card-text mb-auto">Angina is a type of chest pain caused by reduced blood flow to the
                        heart. Angina is a symptom of coronary artery disease. Angina, also called angina pectoris,
                        is often described as squeezing, pressure, heaviness, tightness or pain in your chest</p>
                    <a
                        href="https://www.mayoclinic.org/diseases-conditions/angina/symptoms-causes/syc-20369373#:~:text=But%20when%20you%20increase%20the,arteries%20slow%20down%20blood%20flow.">Continue
                        reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                    alt="Thumbnail [200x250]" src="{% static 'info/about/Angina.png' %}" data-holder-rendered="true"
                    style="width: 200px; height: 350px;">
            </div>
        </div>
    </div>
</div>
{% endblock info %}
