{% extends "app/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
{% block info %}

<!DOCTYPE html>
<html>
<body>
<div class="container" style="padding: 70px 60px;">

    <div class="container">
        <div class="row">
            
            <div class="hlines">
                <h1> What is this site?</h1>
            </div><br><br><br>
            
           <div class="col-lg-6 col-sm-12 col-xs-12">
                <h6>Cardiocare- as the name suggests, is about care of<br>the heart. In fact, it’s not just about the
                    heart
                    but<br>
                    almost everything that is affected by cardiovascular<br>diseases (CVDs). We aim to make people
                    aware<br>
                    about
                    CVDs, the serious risks they pose and how we<br>can prevent them. <br>Our main attraction is the
                    Test
                    section,
                    where you<br>can enter some basic data and find out if you face<br>the risks of a cardiovascular
                    disease.
                </h6>

            </div>
        </div>

    </div>
    <div class="container cpara">
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-xs-12"></div>
            <div class="hlines col-lg-5 col-sm-12 col-xs-12">
                <h1> Why was this made?</h1>
            </div><br>

        </div>

    <div style="padding-top: 0px;">
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-xs-12"></div>
            <div class=" col-lg-5 col-sm-12 col-xs-12">
                <h6>CVDs cause the most number of deaths globally, taking about<br>
                    17.9 million lives each year. According to the official WHO<br>site,
                    more than 75% of these deaths occur in low- and
                    middle-<br>income countries. Most of the people in these countries might<br>be unaware of the risks
                    they face.Identifying those at highest<br>risk of CVDs and ensuring they receive appropriate
                    treatment<br>can prevent premature deaths. <br>
                    <br>Our website aims to do the same, i.e. raise awareness about CVDs<br>and help to identify high risk
                    individuals.<br>
                    <br>Additionally, COVID-19 is known to have particularly deleterious<br>effects on those with
                    underlying
                    conditions such as cardiovascular<br>disease, so it’s more important than ever to develop a web-based<br>
                    platform so that everyone can access this from the safety of their<br>homes.
                </h6>
            </div><br><br><br>

        </div>
    </div>
    </div>

    <div class="container cpara" >
        <div class="hlines">
            <h1> Who are we?</h1>
        </div><br>
        <div class="col-lg-6 col-sm-12 col-xs-12">

            <h6>We  are  a  group  of  five  second-year  Computer<br>Science  students  from
                School of Engineering,<br>Jawaharlal Nehru University. We are developing this<br>website as our semester
                project.<br><br>
                Although you can reach out to us by mail, here’s our<br>address in case you wish to visit us :) </h6>
                <br><br>

        </div>
    </div>
<div style="text-align: right;">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14019.169004385909!2d77.1781713!3d28.5459635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7e24c423d6eb97e!2sDamodar%20Hostel!5e0!3m2!1sen!2sin!4v1619415017224!5m2!1sen!2sin"
        width="700px" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

</div>

</body>

</html>

{% endblock info %}