{% extends "app/base.html" %}
{% load static %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block info %}
<div class="banner img-fluid col-lg-12">
</div>
<div class="container">
    <!--1st para-->
<div class="container ">
    <div class="row">
    <div class=" col-lg-6 col-sm-12 col-xs-12"><img class="img1" src="{% static 'info/info/p2.jpeg' %}"></div>
    <div class=" col-lg-6 col-sm-12 col-xs-12"><h6 class="msg">
        <b>Cardiovascular diseases (CVDs) are a group of disorders of the
        heart and blood vessels. These diseases include the following:</b><br><br>
    
        <b>-Coronary heart disease:</b> disease that develops when the arteries of 
        the heart cannot deliver enough oxygen-rich blood to the heart.<br><br>
        
        <b>-Cerebrovascular disease:</b> refers to a group of conditions, diseases, 
        and disorders that affect the blood vessels and blood supply to the 
        brain.<br><br>
        
        <b>-Peripheral artery disease:</b> a circulatory condition in which narrowed 
        blood vessels reduce blood flow to the limbs.<br><br>
        
        <b>-Rheumatic heart disease:</b> damage to the heart muscle and heart 
        valves from rheumatic fever, caused by streptococcal bacteria.<br><br>
        
        <b>-Congenital heart disease:</b> defect in the structure of the heart, that 
        is present at birth.<br><br>
        
        <b>-Pulmonary embolism:</b> blockage in one of the pulmonary arteries in 
        the lungs. In most cases, it is caused by blood clots that travel to the 
        lungs from deep veins in the legs.<br><br>
        
        <b>Heart attacks and strokes are usually acute events and are mainly
        caused by a blockage that prevents blood from flowing to the
        heart or brain. The most common reason for this is a build-up of
        fatty deposits on the inner walls of the blood vessels that supply 
        the heart or brain.</b>
    </h6></div>
</div></div>
<!--2nd para-->
<br><br>
<div class="hlines"><h1> the risk factors for CVDs..</h1>
</div><br><br>
<div class="container">
    <div class="row">
<div class="col-lg-6 col-sm-12 col-xs-12"><h6 class="msg">
    <b>There are many risk factors for heart disease. Some are
controllable, and others aren't. <br><br>

Some of the controllable risk factors include:</b><br>
-high blood pressure.<br>
-smoking.<br>
-obesity.<br>
-physical inactivity.<br>
-high cholesterol levels.<br><br>

<b>
Diabetic people may also be at higher risk for heart disease
because high blood glucose levels increase the risk of angina,
heart attack, stroke or CAD.<br><br>

Other risk factors which can't be controlled include:</b><br>
-family history<br>
-ethnicity<br>
-sex<br>
-age<br>
<br>

<b>Although these factors can't be controlled, they need to be
monitored carefully.</b><br>
    </h6></div>
 <div class="col-lg-6 col-sm-12 col-xs-12"><img class="img1" src="{% static 'info/info/p3.jpeg' %}"></div>
</div>
</div>

<br><br>
<div class="hlines"><h1 style=" text-align: right;"> the symptoms..</h1>
</div><br><br>
<!--Third para-->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12"><img class="img1" src="{% static 'info/info/p4.jpeg' %}"></div>
<div class="col-lg-6 col-sm-12 col-xs-12"><h6 class="msg">
    <b>Often, there are no symptoms of the underlying disease of the
    blood vessels. A heart attack or stroke may be the first warning of
    an underlying disease. Symptoms of a heart attack include:</b><br><br>

    -pain or discomfort in the centre of the chest.<br><br>
    
    -pain or discomfort in the arms, the left shoulder, elbows, jaw, or 
    back.<br><br>
    
    -additionally, the person may experience difficulty in breathing or 
    shortness of breath; feeling sick or vomiting; feeling light-headed or 
    faint; breaking into a cold sweat; and becoming pale. Women are 
    more likely to have shortness of breath, nausea, vomiting, and back 
    or jaw pain.<br><br>
    
    <b>Symptoms of a heart stroke include:</b><br><br>
    
    -sudden weakness or numbness of the face, arm, or leg, most often 
    on one side of the body.<br><br>
    
    -other symptoms might include the sudden onset of confusion, 
    difficulty speaking or understanding speech;
    difficulty seeing with 
    one or both eyes;
    difficulty walking, dizziness, loss of balance or 
    coordination;
    severe headache with no known cause; and
    fainting or 
    unconsciousness.<br><br>
    
    People experiencing these symptoms should seek medical care
    immediately.
    </h6></div>
 
</div>
</div>


<br><br>
<div class="hlines"><h1 > how to diagnose..</h1>
</div><br><br>
<!--4th para-->
<div class="container">
    <div class="row">
<div class="col-lg-6 col-sm-12 col-xs-12"><h6 class="msg">
    <b>The tests you'll need to diagnose your heart disease depends on 
what condition your doctor thinks you might have. Irrespective of 
the type of heart disease you might have, your doctor will likely 
perform a physical exam and ask about your personal and family 
medical history before doing any tests. Apart from blood tests
and a chest X-ray scan, other tests used to diagnose heart
diseases can include:</b><br><br>

-Electrocardiogram (ECG).<br><br>
-Echocardiogram.<br><br>
-Cardiac Magnetic Resonance Imaging (MRI).<br><br>
-Cardiac Computerized Tomography (CT) Scan.<br><br>
-Cardiac Catheterization.<br><br>
-Holter Monitoring.<br><br>
-Stress Test<br>
    </h6></div>
 <div class=" col-lg-6 col-sm-12 col-xs-12"><img class="img1" src="{% static 'info/info/p5.jpeg' %}"></div>

</div>
</div>


<br><br>
<div class="hlines"><h1 style="text-align: right; "> how to prevent CVDs..</h1>
</div><br><br>
<!--5th para-->
<div class="container">
    <div class="row">
 <div class=" col-lg-6 col-sm-12 col-xs-12"><img class="img1" src="{% static 'info/info/p6.jpeg' %}"></div>

<div class="col-lg-6 col-sm-12 col-xs-12"><h6 class="msg">
    <b>Most of the major CVD risk factors can be controlled by leading a 
        healthy lifestyle. Here are a few ways:<br><br>
            
        Become active-</b> Try to make exercise a regular part of your life, e.g. 
        use the stairs instead of the lift. Being active is also a great way to 
        relieve stress and control your weight, which are both risk factors 
        for cardiovascular disease.<br><br>
        
        <b>Stop smoking-</b> If you stop smoking, your risk of coronary heart 
        disease will be halved within a year and will return to a normal level 
        over time. Avoid smoke-filled environments: exposure to 
        second-hand smoke significantly increases the risk of heart attack.<br><br>
        
        <b>Know your numbers-</b> Have your blood pressure, cholesterol and 
        glucose levels checked regularly. High blood pressure is the number 
        one risk factor for stroke. High blood cholesterol and glucose levels 
        can also place you at greater risk.<br><br>
        
        <b>Eat healthy-</b> A proper diet and nutrition play a major role in 
        reducing the risks of heart disease.<br>
    </h6></div>

</div>
</div>


<br><br>
<div class="hlines"><h1> treatment options..</h1>
</div><br><br>
<!--6th para-->
<div class="container">
    <div class="row">
<div class="col-lg-6 col-sm-12 col-xs-12"><h6 class="msg">
    <b>Treatment for heart disease largely depends on the type of heart 
        disease you have as well as how far it has advanced. It largely
        falls into three categories:<br><br>
        
        Lifestyle changes-</b> Healthy lifestyle choices can help you prevent 
        heart disease. They can also help you treat the condition and prevent 
        it from getting worse. <br>e.g. getting regular exercise, reducing alcohol 
        consumption and quitting tobacco can help treat heart disease.<br><br>
        
        <b>Medications-</b> A medication may be necessary to treat certain type
        of heart disease. Your doctor can prescribe a medication that can 
        either cure or control your heart disease, or it may also be prescribed 
        to slow or stop the risk for complications. The exact drug you’re 
        prescribed depends on the type of heart disease you have.<br><br>
        
        <b>Surgery-</b> In some cases of heart diseases, surgery or a medical 
        procedure is necessary to treat the condition and prevent worsening 
        symptoms. The procedure your doctor will perform depends on the 
        type of heart disease you have and the extent of damage to your 
        heart.<br>
    </h6></div>
 <div class=" col-lg-6 col-sm-12 col-xs-12"><img class="img1" src="{% static 'info/info/p7.jpeg' %}"></div>

</div>
</div>

<!--7th para-->
<br><br>
<div class="hlines"><h1>want to know more?</h1>
</div><br>
<div class="msg">
<b>If you are interested in reading in detail about CVDs, here are a few links that might help you:</b><br>
<div style="font-style: italic;"> 1. <a href="https://www.healthline.com/health/heart-disease" target="_blank">https://www.healthline.com/health/heart-disease</a><br>
2. <a href="https://www.who.int/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)" target="_blank">https://www.who.int/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)</a><br>
3. <a href="https://www.world-heart-federation.org/" target="_blank">https://www.world-heart-federation.org/</a><br>
4. <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/rheumatic-heart-disease" target="_blank">https://www.hopkinsmedicine.org/health/conditions-and-diseases/rheumatic-heart-disease</a><br>
5. <a href="https://www.mayoclinic.org/diseases-conditions/angina/symptoms-causes/syc-20369373" target="_blank">https://www.mayoclinic.org/diseases-conditions/angina/symptoms-causes/syc-20369373</a>
</div>
</div>
</div>
{% endblock info %}

