{% extends "app/base.html" %}

{% block info %}
<div style="padding-top: 2%; padding-left: 20px">
<!--    <iframe src="https://www.kaggle.com/embed/asadnizami/explaining-risk-of-heart-disease?kernelSessionId=61722878" height="800" style="margin: 0 auto; width: 100%; max-width: 1450px;" frameborder="0" scrolling="auto" title="Explaining risk of heart disease"></iframe>-->
        <iframe src="https://www.kaggle.com/embed/asadnizami/explaining-the-risk-of-heart-disease?kernelSessionId=62477872" height="800" style="margin: 0 auto; width: 100%; max-width: 1450px;" frameborder="0" scrolling="auto" title="Explaining the risk of heart disease"></iframe>
</div>

<!--<div class="row">-->
<!--    <div class="col-lg-1"></div>-->
<!--    <div class="col-lg-11 col-sm-12">-->
<!--    </div>-->
<!--</div>-->
{% endblock info %}