* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v111_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v116_20 {
  width: 100%;
  height: 135px;
  background: url("../images/v116_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 889px;
  left: 0px;
  overflow: hidden;
}
.v116_21 {
  width: 100%;
  height: 135px;
  background: rgba(249,141,141,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v116_22 {
  width: 222px;
  height: 50px;
  background: url("../images/v116_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1131px;
  overflow: hidden;
}
.v116_23 {
  width: 39px;
  height: 46px;
  background: url("../images/v116_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v116_24 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 46px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v116_25 {
  width: 220px;
  height: 46px;
  background: url("../images/v116_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 604px;
  overflow: hidden;
}
.v116_26 {
  width: 53px;
  height: 46px;
  background: url("../images/v116_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v116_27 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 65px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v116_28 {
  width: 210px;
  height: 46px;
  background: url("../images/v116_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 88px;
  overflow: hidden;
}
.v116_29 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 55px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v116_30 {
  width: 47px;
  height: 46px;
  background: url("../images/v116_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v116_31 {
  width: 385px;
  height: 510px;
  background: url("../images/v116_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 1003px;
  overflow: hidden;
}
.v116_8 {
  width: 385px;
  height: 510px;
  background: rgba(255,238,238,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v116_19 {
  width: 254px;
  color: url("../images/v116_19.png");
  position: absolute;
  top: 460px;
  left: 66px;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v116_17 {
  width: 141px;
  height: 48px;
  background: url("../images/v116_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 34px;
  overflow: hidden;
}
.v116_14 {
  width: 141px;
  height: 46px;
  background: rgba(235,55,56,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v116_9 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v116_16 {
  width: 315px;
  height: 91px;
  background: url("../images/v116_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 34px;
  overflow: hidden;
}
.v116_13 {
  width: 315px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v116_11 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v116_15 {
  width: 315px;
  height: 91px;
  background: url("../images/v116_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 34px;
  overflow: hidden;
}
.v116_12 {
  width: 315px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v116_10 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v116_7 {
  width: 962px;
  height: 527px;
  background: url("../images/v116_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 41px;
  overflow: hidden;
}
.v111_3 {
  width: 100%;
  height: 224px;
  background: url("../images/v111_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  overflow: hidden;
}
.v111_4 {
  width: 100%;
  height: 150px;
  background: rgba(255,168,168,0.4000000059604645);
  opacity: 0.5;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v111_5 {
  width: 147px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 1224px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v111_6 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 92px;
  left: 1034px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v111_7 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  left: 736px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v111_8 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 910px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v111_9 {
  width: 235px;
  height: 224px;
  background: url("../images/v111_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
