.28_2 { 
	overflow:hidden;
}.e28_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:5537px;
	position:absolute;
}.e90_34 { 
	width:1440px;
	height:135px;
	position:absolute;
	left:0px;
	top:5402px;
}.e90_35 { 
	background-color:rgba(249.6875050663948, 141.48958772420883, 141.48958772420883, 1);
	width:1440px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
}.e90_36 { 
	width:222px;
	height:50px;
	position:absolute;
	left:1131px;
	top:43px;
}.e90_37 { 
	width:39px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_38 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:50px;
	position:absolute;
	left:46px;
	top:0px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e90_39 { 
	width:220px;
	height:46px;
	position:absolute;
	left:604px;
	top:43px;
}.e90_40 { 
	width:53px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_41 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:41px;
	position:absolute;
	left:65px;
	top:2px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e90_42 { 
	width:210px;
	height:46px;
	position:absolute;
	left:88px;
	top:45px;
}.e90_43 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:39px;
	position:absolute;
	left:55px;
	top:0px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e90_44 { 
	width:47px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_15 { 
	width:847px;
	height:280px;
	position:absolute;
	left:151px;
	top:5018px;
}.e90_14 { 
	color:rgba(0, 0, 0, 1);
	width:846.975830078125px;
	height:198.2608642578125px;
	position:absolute;
	left:0.024155497550964355px;
	top:81.73912811279297px;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e90_12 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:498.7633056640625px;
	height:51.92546463012695px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e90_22 { 
	width:1168px;
	height:528px;
	position:absolute;
	left:151px;
	top:4386px;
}.e90_23 { 
	width:562px;
	height:408px;
	position:absolute;
	left:606px;
	top:93px;
	background-image:url(images/treatment_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_17 { 
	color:rgba(0, 0, 0, 1);
	width:584px;
	height:437px;
	position:absolute;
	left:0px;
	top:91px;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
}.e90_16 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:487px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e90_11 { 
	width:1103px;
	height:549px;
	position:absolute;
	left:183px;
	top:3733px;
}.e90_2 { 
	color:rgba(0, 0, 0, 1);
	width:584px;
	height:452px;
	position:absolute;
	left:517px;
	top:97px;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
}.e90_10 { 
	width:424px;
	height:490px;
	position:absolute;
	left:0px;
	top:56px;
	background-image:url(images/diet_infographic.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_1 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:525px;
	height:56px;
	position:absolute;
	left:578px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e85_21 { 
	width:1171px;
	height:544px;
	position:absolute;
	left:146px;
	top:3085px;
}.e82_4 { 
	width:568px;
	height:438px;
	position:absolute;
	left:603px;
	top:100px;
	background-image:url(images/diagnosis_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e82_3 { 
	color:rgba(0, 0, 0, 1);
	width:584px;
	height:452px;
	position:absolute;
	left:5px;
	top:92px;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
}.e82_2 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:414px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e85_20 { 
	width:1146px;
	height:710px;
	position:absolute;
	left:146px;
	top:2271px;
}.e76_4 { 
	color:rgba(0, 0, 0, 1);
	width:584px;
	height:615px;
	position:absolute;
	left:562px;
	top:95px;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
}.e76_28 { 
	width:532px;
	height:546px;
	position:absolute;
	left:0px;
	top:112px;
	background-image:url(images/symptoms_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e76_3 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:367px;
	height:56px;
	position:absolute;
	left:779px;
	top:0px;
	font-family:Work Sans;
	text-align:right;
	font-size:48px;
	letter-spacing:0;
}.e90_31 { 
	width:1168.102783203125px;
	height:586px;
	position:absolute;
	left:146px;
	top:1581px;
}.e90_30 { 
	width:552.1027221679688px;
	height:441px;
	position:absolute;
	left:616px;
	top:111px;
	background-image:url(images/risk_factors_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_25 { 
	color:rgba(0, 0, 0, 1);
	width:582px;
	height:492px;
	position:absolute;
	left:0px;
	top:94px;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
}.e90_24 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:672.9002075195312px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e76_1 { 
	width:1118px;
	height:597px;
	position:absolute;
	left:172px;
	top:880px;
}.e61_7 { 
	color:rgba(0, 0, 0, 1);
	width:588px;
	height:597px;
	position:absolute;
	left:530px;
	top:0px;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
}.e90_0 { 
	width:477px;
	height:543px;
	position:absolute;
	left:0px;
	top:27px;
	background-image:url(images/cvd_infograhic.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e59_0 { 
	width:1440px;
	height:611px;
	position:absolute;
	left:0px;
	top:149px;
}.e57_0 { 
	opacity:0.6000000238418579;
	width:1440px;
	height:611px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/background_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e195_0 { 
	color:rgba(235.0000011920929, 71.00000336766243, 75.00000312924385, 1);
	width:395px;
	height:360px;
	position:absolute;
	left:44px;
	top:126px;
	font-family:Work Sans;
	text-align:left;
	font-size:77px;
	letter-spacing:0;
}.e56_0 { 
	width:1440px;
	height:224px;
	position:absolute;
	left:0px;
	top:-28px;
}.e56_1 { 
	background-color:rgba(255, 168.93750607967377, 168.93750607967377, 0.4000000059604645);
	opacity:0.5;
	width:1440px;
	height:150.85714721679688px;
	position:absolute;
	left:0px;
	top:26px;
}.e56_2 { 
	color:rgba(0, 0, 0, 1);
	width:147px;
	height:23.606557846069336px;
	position:absolute;
	left:1224px;
	top:93px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e56_3 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:23.606557846069336px;
	position:absolute;
	left:1034px;
	top:92.5714340209961px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e56_4 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:23.606557846069336px;
	position:absolute;
	left:736px;
	top:95px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e56_5 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:19.428571701049805px;
	position:absolute;
	left:910px;
	top:93px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e56_6 { 
	width:235px;
	height:224px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}