.99_2 { 
	overflow:hidden;
}.e99_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1950px;
	position:absolute;
}.e109_2 { 
	width:1440px;
	height:135px;
	position:absolute;
	left:0px;
	top:1815px;
}.e109_3 { 
	background-color:rgba(249.6875050663948, 141.48958772420883, 141.48958772420883, 1);
	width:1440px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
}.e109_4 { 
	width:222px;
	height:50px;
	position:absolute;
	left:1131px;
	top:43px;
}.e109_5 { 
	width:39px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e109_6 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:50px;
	position:absolute;
	left:46px;
	top:0px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e109_7 { 
	width:220px;
	height:46px;
	position:absolute;
	left:604px;
	top:43px;
}.e109_8 { 
	width:53px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e109_9 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:41px;
	position:absolute;
	left:65px;
	top:2px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e109_10 { 
	width:210px;
	height:46px;
	position:absolute;
	left:88px;
	top:45px;
}.e109_11 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:39px;
	position:absolute;
	left:55px;
	top:0px;
	font-family:Work Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e109_12 { 
	width:47px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e109_1 { 
	background-color:rgba(38.84323328733444, 182.12732791900635, 227.37499594688416, 0.30000001192092896);
	width:771px;
	height:509px;
	position:absolute;
	left:487px;
	top:1152px;
}.e109_13 { 
	color:rgba(0, 0, 0, 1);
	width:245px;
	height:125px;
	position:absolute;
	left:263px;
	top:192px;
	font-family:Work Sans;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e102_11 { 
	width:467px;
	height:258px;
	position:absolute;
	left:182px;
	top:851px;
}.e108_1 { 
	color:rgba(0, 0, 0, 1);
	width:467px;
	height:162px;
	position:absolute;
	left:0px;
	top:96px;
	font-family:Work Sans;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e102_2 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:299px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:justified;
	font-size:48px;
	letter-spacing:0;
}.e102_12 { 
	width:480px;
	height:545.619384765625px;
	position:absolute;
	left:791px;
	top:439px;
}.e102_13 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:480px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e102_14 { 
	color:rgba(0, 0, 0, 1);
	width:467px;
	height:449.6194152832031px;
	position:absolute;
	left:0px;
	top:96px;
	font-family:Work Sans;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e106_1 { 
	width:467px;
	height:351.00897216796875px;
	position:absolute;
	left:182px;
	top:256px;
}.e106_2 { 
	color:rgba(235.0000011920929, 55.00000052154064, 56.000000461936, 1);
	width:467px;
	height:56.66865921020508px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:justified;
	font-size:48px;
	letter-spacing:0;
}.e106_3 { 
	color:rgba(0, 0, 0, 1);
	width:467px;
	height:255.0089569091797px;
	position:absolute;
	left:0px;
	top:96px;
	font-family:Work Sans;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e99_3 { 
	width:1440px;
	height:224px;
	position:absolute;
	left:0px;
	top:-28px;
}.e99_4 { 
	background-color:rgba(255, 168.93750607967377, 168.93750607967377, 0.4000000059604645);
	opacity:0.5;
	width:1440px;
	height:150.85714721679688px;
	position:absolute;
	left:0px;
	top:26px;
}.e99_5 { 
	color:rgba(0, 0, 0, 1);
	width:147px;
	height:23.606557846069336px;
	position:absolute;
	left:1224px;
	top:93px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e99_6 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:23.606557846069336px;
	position:absolute;
	left:1034px;
	top:92.5714340209961px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e99_7 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:23.606557846069336px;
	position:absolute;
	left:736px;
	top:95px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e99_8 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:19.428571701049805px;
	position:absolute;
	left:910px;
	top:93px;
	font-family:Work Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e99_9 { 
	width:235px;
	height:224px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}