/* navbar */
.nav-link
{
    color: black;
    font-weight: 680;
    margin: 10px;
    border-bottom: 1px solid black;
} 
.nav-link:hover{
    color: black;
    border-bottom: 3px solid red;
    
}
.custom-toggler
{
  border: 2px solid black;
}

/* END : navbar*/




/*sections*/

.sec-1
{
  border-left: 1px solid black;
}

.carousel-caption {
  top: 10px;
  bottom: auto;
}

.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.hero-accordian button
{
  color: black !important;
  
}
.hero-accordian a
{
  color: black !important;
  font-weight: 600
}

.flag
{
  display: flex
}
.flag h2{
  margin-top: 30px;
  margin-left: 20px;
}



/*END sections*/



/*start: footer*/

.topping
{
  height: 200px;
  
}
.foot{
  background-color: rgb(223, 130, 145);
  padding:20px 0px 0px 0px;
  margin-top: 150px;
}
.cpara{
  margin-top: -80px;
}

@media(max-width:992px){
  .cpara{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px)
{
  .topping
  {
    height: 140px;
  }
}

.full_footer
{
    position: relative;
    bottom: 0px;
    height: 400px
}

.border-new
{
  border-left: 1px solid black;
  margin-left: 90px;
  margin-right:90px
}


@media only screen and (max-width : 1200px)
{
  .border-new
  {
    margin-left: 1px;
    margin-right: 0px;
  }
}



.topfooter p{
    color: #4b4b4b;
    
}
.topfooter a{
    color: #4b4b4b;
    font-weight: 600;
    text-decoration: none;
}
.topfooter a:hover{
  text-decoration: underline;
}
.topfooter h3{
   font-weight: 700;
    font-size: 2.1rem;
}

.bottom-footer
{
  
  font-size: 0.8rem
}

.right-tag p
{
  margin-left: 4px;
  
}

.right-tag p a
{
  color: black;
}

.right-tag
{
  display: flex;
}

.text-underline-hover a {
  text-decoration: none;
  
}

.text-underline-hover a:hover {
  text-decoration: underline;
}




/* End: footer */


