body{
    box-sizing: border-box;
}
.banner{
    background:url(../../../static/info/info/p1_text.jpeg) no-repeat;
    width:100%;
    height: auto;
    min-height: 540px;
    /*min-width: 540px;*/
    margin-bottom: 80px;
    margin-top: -2px;
    background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.img1{
    width:100%;
    height: auto;
    /*min-height: 240px;
    max-height: 400px;
    max-width: 400px;*/
}
.msg{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'
}
.hlines{
    color: red !important;
}
.h1{
    color: red ! important;
}
@media(max-width:992px){
    .hlines{
        align-items: left !important;
    }
}