{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <!--manual CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'main1.css' %}">
  <script src="https://kit.fontawesome.com/5d3325bdeb.js" crossorigin="anonymous"></script>

 


  <title>cardiocare</title>
</head>
<!--
    xs<576 | 576<sm<768 | 768<md<992 | 992<lg<1200 | 1200<xl

  -->

<body>

  <header>
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg sticky-top " style='background-color:rgba(255, 169, 169, 0.4);'>
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="{% url 'landing' %}">
          <img  src="{% static 'app\base\Logo.png' %}" height="90px" alt="">
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon ">

          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'test' %}"> Take a test</a>
            </li>

          </ul>
          <ul class="navbar-nav ms-auto me-5">
            <li>
              <div class="btn-group ">

                {% if user.is_authenticated %}
                <a class="btn btn-outline-info" href="{% url 'profile' %}">{{ user.username }}</a>
                <a class="btn btn-outline-light" href="{% url 'history' %}">History</a>
                <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
                
                {% else %}
                <a href= "{% url 'login' %}" class = 'btn btn-outline-danger'>Login </a>
                <a href="{% url 'register' %}" class = 'btn btn-outline-success'>Signup</a>
                {% endif %}

              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--END Navbar-->
  </header>

  {% block content %}{% endblock content %}

  <hr class='mt-5 mb-3'>

  <!-- banner -->
  <section>
    <div class="container topping">
      <div class="row ms-xl-5 ">
        <div class="col-md-12 ms-xl-4 mt-4">
          <h1>WE ARE HERE FOR HELP </h1>
          <button type='button' class='btn btn-dark'>Subscribe</button>
          <button type='button' class='btn btn-warning'>Mail</button>
          <a href = "{% url 'login' %}"><button type='button' class='btn btn-danger'>login</button>
        </div>

      </div>

    </div>
  </section>

  <!-- END banner -->

  <!--footer -->

  <footer class="full_footer ">
    <div class="container topfooter ">
      <div class="row border-new ">

        <div class="col-md-4 mt-3 mb-3">

          <h3>Important links</h3>
          <a href="{% url 'test' %}">Get a test</a><br>
          <a href="#">Blog Articles</a><br>
          <a href="https://www.facebook.com/">Social Media</a><br>
          <a href="#">Privacy Policy</a>

        </div>

        <div class="col-md-4 mt-3 mb-3">

          <h3>Contact us</h3>
          <a href="#">School of Enginnering</a><br>
          <a href="#">Locate us</a><br>
          <a href="#">cardiocare and Business</a><br>
          <a href="#">Contact cardiocare</a><br>
          <a href="#">Write for us</a>

        </div>

        <div class="col-md-4 mt-3 mb-3">
          <h1>For general</h1>
          <h1>enquiries,</h1>
          <h1>email <br><a style="font-size: 1.5rem;" href="mailto:cardiocare@gmail.com"><i class="fas fa-envelope"></i>cardiocare@gmail.com</a></h2>

        </div>

      </div>
    </div>

    <hr>
    <!-- copyright container-->
    <div class="container">
         <div class="row bottom-footer">

          <div class='col-md-1'> <!-- left intentionally --></div>

          <div class="col-md-6 left-tag">
            <p>Copyright © cardiocare .All rights are reserved.</p>
          </div>

          <div class="col-md-5 right-tag text-underline-hover">
            <p><a href="">Privacy Policy |</a></p>
            <p><a href="">Terms of use |</a></p>
            <p><a href="">Legal |</a></p>
            <p><a href="">site map| </a></p>
          </div>

        </div>
     </div>
     <!-- End copyright container-->
  </div>
  



  </footer>

   <!--END footer -->


















  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>


</body>

</html>