{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'history_styles.css' %}">
{% endblock %}
{% block content %}
<section>
    <div class="container">
    	<div class="row">
            <div class="col-md-4"></div>
    		<div class="col-md-4">
    		    <div class="card profile-card-1">
    		        <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/>
    		        <img src="{{ user.profile.image.url }}" alt="profile-image" class="profile"/>
                    <div class="card-content">
                    <h2>{{ user.username }}<small>{{ user.email }}</small></h2>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Basic Profile Card</strong></p>
    		</div>
            </div>
    	</div>
    </div>
</section>
    <table class="table table-danger">
    <thead>
      <tr>
          <th>Date</th>
          <th>Risk</th>
          <th>View</th>
      </tr>
    </thead>
    <tbody>
    {% for hist in history %}
      <tr>
        <td>{{hist.date}}</td>
          <td>{{hist.result}}</td>
          <td><a href="pdf/{{hist.id}}">View</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}