{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

{% block head %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
{% endblock %}


<div class="container">
        <div class="row mt-4">
           
            <div class="col-lg-6 col-md-8 m-auto" style= 'background-color: #FFEEEE;color: black'>
                <div class="content-section">
                    <form action="{% url 'result' %}"  method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group ms-lg-5 me-lg-5 ">
                            <legend class="border-bottom mb-3 mt-3" style= "color: #EB3738">
                           
                            <h1>Are you at risk?</h1>
                            <h6 class = 'text-muted'>fill your details below and submit to find out..</h6>
                            
                            </legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group " style="padding-top: 20px">
                            <button class="btn btn-outline-danger ms-lg-5 me-lg-5" type="submit">Submit</button>
                        </div>
                    </form>
                    <div class="ms-lg-5 me-lg-5 mb-5">
                        <hr>
                        <a href="{% url 'learn_more' %}" style="padding-top: 5%;color: red;font-weight: 450;">Learn More</a>
                    </div>
                </div>
            </div>


             <div class="p-5 col-md-6">
                <img class='mb-5 img-fluid go-hide' src="{% static 'app/test/top image.png' %}">
                <img class='mt-5 img-fluid go-hide' src="{% static 'app/test/bottom image.png' %}">
            </div>

        </div>
    </div>

{% endblock content %}