{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% block head %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
{% endblock %}

<div class="row" style="padding-top: 20px">
<div class="col-lg-6 col-sm-12 col-xs-12">
    <div class="content-section">
        <form action="{% url 'result' %}" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 heading" style="color: red;" ><strong>Test Now</strong></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" style="padding-top: 20px">
                <button class="btn btn-outline-info" type="submit">Test</button>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock content %}