{% load static %}
<div class="card">
    <h1 class="card-header bg-primary text-white">Test Report</h1>
    <h2 class="card-header bg-primary text-white">Name: {{patient.first_name}} {{patient.last_name}}</h2>

    <h2 class="card-header bg-primary text-white">Email: {{patient.email}}
    <h2 class="card-header bg-primary text-white">Date: {{hist.date}}</h2></h2><br><hr><br>
    <div class="card-body">
        <dl class="row">
            <h3>
            <dt class="col-6"><b>Age</b>: {{hist.age}}</dt>
            <dt class="col-6"><b>Sex</b>: {{hist.sex}}</dt>
            <dt class="col-6"><b>Chest Pain</b>: {{hist.cp}}</dt>
            <dt class="col-6"><b>Resting Blood Pressure</b>: {{hist.trestbps}} mm Hg</dt>
            <dt class="col-6"><b>Serum Cholestoral</b>: {{hist.chol}} mg/dl</dt>
            <dt class="col-6"><b>Resting Electrocardiographic Result</b>: {{hist.restecg}}</dt>
            <dt class="col-6"><b>Maximum Heart Rate Achieved</b>: {{hist.thalach}}</dt>
            <dt class="col-6"><b>Exercise Induced Angina</b>: {{hist.exang}}</dt>
            <dt class="col-6"><b>ST depression induced by <br>exercise relative to rest</b>: {{hist.oldpeak}}</dt>
            <dt class="col-6"><b>The slope of the peak exercise ST segment</b>: {{hist.slope}}</dt>
            <dt class="col-6"><b>Number of major vessels colored by flouroscopy</b>: {{hist.ca}}</dt>
            <dt class="col-6"><b>Thalassemia </b>: {{hist.thal}}</dt>
            <br>
            </h3>
            <h2>
            <dt class="col-6"><b>Risk </b>: {{hist.result}}</dt>
            </h2>
        </dl>
        <hr>
    </div>
    <div>
        <h2>
        Cardiocare Diagnostics<br><br>
        Address: E-Block, Damodar Hostel, Jawaharlal Nehru University, New Delhi-110067 <br>
        Phone No: 111-222-3333 <br>
        Email: cardiocare2077@gmail.com <br>
        </h2>
    </div>
</div>
